.branch {
  padding: 5rem 0;
}
.newsletter {
  background-color: $primaryColor;
  padding: 3.5rem 3.5rem;
  @media (min-width: 576px) {
    & {
      padding: 3.5rem 0;
    }
  }
  @media (min-width: 992px) {
    & {
      .newsletter__text {
        text-align: left;

        h2 {
          font-size: 2.4rem;
          font-weight: bold;
        }
        p {
          font-size: 1.6rem;
          font-weight: 300;
          padding: 0;
        }
      }
    }
  }

  &__text {
    color: #fff;
    text-align: center;

    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 1.2rem;
      padding: 1rem 0;
      font-weight: 300;
    }
  }
  form {
    height: 100%;
    position: relative;
    input {
      width: 100%;
      outline: none;
      border: none;
      font-size: 1.6rem;
      padding: 1.6rem 0 1.6rem 3.5rem;
      border-radius: 6rem;
    }
    button {
      position: absolute;
      height: 100%;
      right: 0;
      border-radius: 6rem;
      padding: 0 28px;
      font-size: 1.3rem;
      color: #fff;
      background: #333;
      border: none;
      font-weight: bold;
    }
  }
}
.contact-list {
  background-color: #fff;
  .contact-item {
    text-align: center;
    padding: 3rem 0;
    @media (min-width: 992px) {
      & {
        display: flex;
        align-items: center;
        i {
          margin-right: 1.4rem;
        }
        .contact-item__text {
          padding: 1rem 0;
          p:nth-child(1) {
            padding-top: 0;
            font-size: 2rem;
          }
        }
      }
    }
    i {
      font-size: 5rem;
      color: $primaryColor;
    }
    &__text {
      p:nth-child(1) {
        font-size: 1.6rem;
        font-weight: bold;
        color: $primaryColor;
        padding-top: 1.6rem;
      }
      p:nth-child(2) {
        font-size: 1.5rem;
        padding: 0.8rem 0;
      }
    }
  }
}

.content {
  @media (max-width: 767px) {
    .contact-form {
      margin-top: 30px;
    }
  }

  // @media (max-width: 540px) {
  //   .contact-mobile {
  //     padding-left: 35px;
  //     padding-right: 35px;
  //   }
  // }

  @media (max-width: 540px) {
    .map {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

footer {
  background-color: #fff;
  padding-top: 5rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .footer__item {
    padding: 0 3rem 5rem 4rem;
    @media (min-width: 992px) {
      & {
        padding: 0 0 5rem 0;
      }
    }
    .footer__info {
      margin-top: 2rem;
      font-size: 1.5rem;
      color: $textColor;
    }
    .footer__social {
      display: flex;
      align-items: center;
      margin-top: 0.8rem;
      li {
        a {
          font-size: 2rem;
          color: $textColor;
          display: block;
          margin-right: 0.8rem;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
    h3 {
      font-size: 1.6rem;
      color: $textColor;
      font-weight: 600;
    }
    ul {
      margin-top: 4rem;
      li {
        transition: 0.3s ease-in;
        a {
          display: block;
          margin: 1rem 0;
          color: $textColor;
          font-size: 1.4rem;
          i {
            margin-right: 0.8rem;
          }
        }
        &:hover {
          transform: translate(10px);
          a {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
