.top-header {
  .top-header__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    color: $textColor;
    padding: 7px 0;
    @media (min-width: 768px) {
      & {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
    .top-header-left {
      padding: 5px 0;
    }
    .top-header-right {
      ul {
        display: flex;
        li:last-child {
          border-right: none;
        }
        li {
          margin-right: 2px;
          border-right: 1px solid #ccc;
          position: relative;
          a {
            display: block;
            padding: 0 10px;
            color: $textColor;
            &:hover {
              color: $primaryColor;
            }
            i {
              margin-left: 3px;
            }
          }
          &:hover {
            .sub-menu {
              top: calc(100% + 2px);
              opacity: 1;
              visibility: inherit;
            }
          }
          .sub-menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 130%;
            right: 0;
            visibility: hidden;
            top: calc(100% + 5px);
            opacity: 0;
            transition: 0.5s;
            background-color: #474e58;
            z-index: 10000;
            li {
              margin-right: 0;
              &:hover {
                background-color: #525a66;
                a {
                  color: $primaryColor;
                }
              }
              border: none;
              padding: 6px 0;
              text-align: right;
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.main-header {
  background-color: #fff;
  padding: 30px 0;
  .logo {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__search {
    width: 100%;
    float: left;
    margin-top: 15px;
    @media (min-width: 768px) {
      & {
        margin-top: 7px;
      }
    }
    form {
      position: relative;
      input {
        padding: 10px 60px 10px 10px;
        width: 100%;
        font-size: 1.4rem;
        border: 2px solid $seconColor;
        border-radius: 5px;
      }
      button {
        position: absolute;
        height: 100%;
        width: 50px;
        font-size: 1.8rem;
        right: 0;
        border: 2px solid $seconColor;
        background-color: $seconColor;
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  &__action {
    float: right;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @media (min-width: 768px) {
      margin-top: 7px;
      justify-content: end;
    }
    ul {
      display: flex;
      justify-content: end;
      li {
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          a {
            color: $primaryColor;
          }
        }
        margin-left: 30px;
        position: relative;
        a {
          font-size: 1.5rem;
          color: $textColor;
          i {
            font-size: 2.8rem;
            margin-right: 8px;
          }
        }
        .count {
          position: absolute;
          width: 25px;
          height: 25px;
          background: $primaryColor;
          color: #fff;
          font-weight: 700;
          border-radius: 50%;
          text-align: center;
          line-height: 25px;
          font-size: 1.5rem;
          top: -14px;
          left: 20px;
        }
      }
    }
  }
}

.header-menu {
  background-color: $primaryColor;
  .category {
    background-color: $seconColor;
    height: 100%;
    position: relative;
    &:hover {
      .category__list {
        opacity: 1;
        visibility: inherit;
        top: 100%;
      }
    }
    &__heading {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      text-transform: uppercase;
      padding: 0 15px;
      height: 100%;
      h2 {
        font-size: 1.8rem;
        font-weight: bold;
      }
      i {
        font-size: 1.8rem;
      }
    }
    &__list {
      position: absolute;
      background-color: #fff;
      width: 100%;
      transition: 0.3s ease-in;
      opacity: 0;
      visibility: hidden;
      top: calc(100% + 5px);
      z-index: 1000;
      & > li {
        border-bottom: 1px solid #ccc;
        position: relative;
        &:hover {
          .sub-category {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
          }
        }
        .sub-category {
          position: absolute;
          width: 650px;
          background-color: #fff;
          left: 105%;
          top: 0;
          padding: 20px;
          box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
          opacity: 0;
          visibility: hidden;
          transform-origin: top left;
          transform: scaleY(0);
          transition: 0.3s ease-in;
          &.sub-category-2 {
            width: 440px;
          }
          &::after {
            content: " ";
            position: absolute;
            top: 14px;
            left: -12px;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-right: 12px solid #fff;
          }
          &__list {
            display: flex;
            gap: 12px;
            .category__item:nth-child(1) {
              .category__item--heading {
                &::after {
                  background-color: red;
                }
              }
            }
            .category__item:nth-child(2) {
              .category__item--heading {
                &::after {
                  background-color: blue;
                }
              }
            }
            .category__item:nth-child(3) {
              .category__item--heading {
                &::after {
                  background-color: yellow;
                }
              }
            }
            .category__item {
              flex: 1;
              &--heading {
                border-bottom: 3px solid #ccc;
                font-size: 1.4rem;
                font-weight: 600;
                padding-bottom: 10px;
                color: $textColor;
                position: relative;
                &::after {
                  content: " ";
                  position: absolute;
                  width: 40%;
                  height: 3px;
                  bottom: -3px;
                  left: 0;
                }
              }
              ul {
                li {
                  &:hover {
                    a {
                      color: $primaryColor;
                    }
                  }
                  a {
                    padding: 8px 0;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size: 1.3rem;
                    color: #444;
                  }
                }
              }
            }
          }
        }

        &:last-child {
          border-bottom: none;
        }
        &:hover {
          > a {
            background-color: $primaryColor;
            color: #fff;
          }
        }
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 13px 20px;
          font-size: 1.3rem;
          text-transform: uppercase;
          color: $textColor;
          transition: 0.3s ease-in;
        }
      }
    }
  }
  .main-menu {
    display: flex;
    li {
      position: relative;
      &:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
        }
      }
      .sub-menu {
        position: absolute;
        background-color: #474e58;
        left: 0;
        top: 100%;
        width: 150px;
        padding: 10px;
        opacity: 0;
        transform-origin: top left;
        visibility: hidden;
        transform: scaleY(0);
        transition: 0.3s ease-in;
        z-index: 1000;
        li {
          &:hover {
            a {
              color: $primaryColor;
            }
          }
          a {
            display: block;
            font-size: 1.4rem;
            font-weight: normal;
            padding: 7px 0;
          }
        }
      }
      a {
        display: block;
        font-size: 1.6rem;
        padding: 16px 13px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        i {
          margin-left: 8px;
        }
      }
    }
  }
}
.menu-mobile {
  background-color: #262626;
  padding: 6px 0;
  #main-menu-mobile {
    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }
    .accordion-item {
      background-color: transparent;

      .accordion-header {
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: space-between;
        p {
          padding-left: 3rem;
        }
        .accordion-button:focus {
          box-shadow: none;
          border-color: rgba(0, 0, 0, 0.125);
        }
        button {
          color: #fff;
          display: flex;
          font-size: 1.8rem;
          width: auto;
          justify-content: space-between;
          background-color: #262626;
          padding: 10px 30px 10px 16px;
          i.close-icon {
            display: block;
          }
          i.bar-icon {
            display: none;
          }
          &.collapsed {
            i.close-icon {
              display: none;
            }
            i.bar-icon {
              display: block;
            }
          }
          p {
            margin-left: 3rem;
          }
          i {
            font-size: 2.3rem;
          }
          &::after {
            content: none;
          }
        }
      }
      .accordion-body {
        background-color: #f8f8f8;
        padding: 0;
        #sub-menu-mobile {
          .accordion-header {
            display: flex;
            justify-content: space-between;
            a {
              padding: 16px 24px 16px 16px;
              display: block;
              color: #666666;
              font-size: 1.4rem;
              font-weight: bold;
              &:hover {
                color: $primaryColor;
              }
            }
            button {
              background-color: #f8f8f8;
              color: $textColor;
              font-size: 1.4rem;
              font-weight: bold;
              padding: 16px 24px 16px 16px;
              display: flex;
              justify-content: space-between;
              width: auto;
              i {
                font-size: 1.4rem;
              }
              i.plus-icon {
                display: none;
              }
              i.minus-icon {
                display: block;
              }
              &.collapsed {
                i.plus-icon {
                  display: block;
                }
                i.minus-icon {
                  display: none;
                }
              }
            }
          }
          .accordion-body {
            ul {
              li {
                a {
                  display: block;
                  color: $textColor;
                  padding: 12px 35px;
                  font-size: 1.3rem;
                  &:hover {
                    color: $primaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
