.breadcrumbs-area {
  background-color: #f1f1f1;
  padding: 15px 0;
  .breadcrumbs-menu {
    ul {
      li {
        display: inline-block;
        padding-right: 5px;
        a {
          font-size: 14px;
          color: #333;
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          i {
            padding-left: 8px;
          }
          &.active {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.blog-main-area {
  background-color: #fff;
  padding: 80px 0;
  .author-destils {
    overflow: hidden;
    margin-bottom: 30px;
    .author-left {
      display: inline-block;
      float: left;
      width: 65%;
      .author-img {
        display: inline-block;
        float: left;
        margin-right: 10px;
        width: 10%;
      }
      .author-description {
        float: left;
        margin-top: 15px;
        overflow: hidden;
        width: 80%;
        p {
          margin: 0;
          font-size: 14px;
          font-family: "Poppins", sans-serif;
          color: #444;
          a {
            color: #333;
            font-size: 14px;
            font-family: "Poppins", sans-serif;
            span {
              color: #333;
              font-size: 14px;
              font-family: "Poppins", sans-serif;
              margin: 0 2px;
            }
          }
        }
        span {
          font-size: 14px;
          font-family: "Poppins", sans-serif;
          margin-top: 3px;
          color: #333;
        }
      }
    }

    .author-right {
      float: right;
      margin-top: 23px;
      width: 30%;
      span {
        color: #333;
        font-family: Yanone Kaffeesatz;
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
        line-height: 8px;
      }
      ul {
        margin-top: -8px;
        li {
          margin-left: 15px;
          a {
            font-size: 16px;
            color: #333;
            transition: 0.3s;
          }
        }
      }
    }
  }

  .blog-img {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    a {
      img {
        transform: scale(1);
        transition: 0.4s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .single-blog-content {
    .single-blog-title {
      h3 {
        margin: 0 0 10px;
        font-family: "Poppins", sans-serif;
        color: #333;
        a {
          color: #252525;
          font-size: 30px;
          font-weight: 500;
          transition: 0.3s;
          text-decoration: none;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
    .blog-single-content {
      p {
        font-size: 16px;
        margin: 0 0 15px;
      }
    }
  }
  .blog-comment-readmore {
    border-top: 2px dotted #e5e5e5;
    margin-bottom: 50px;
    overflow: hidden;
    padding-top: 20px;
    .blog-readmore {
      a {
        color: #a08d7c;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        transition: 0.3s;
        i {
          padding-left: 10px;
        }
        &:hover {
          color: $primaryColor;
        }
      }
    }
    .blog-com {
      a {
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        color: #333;
        text-decoration: none;
      }
    }
  }
}

.single-blog {
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
  .blog-left-title {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    margin-bottom: 20px;
    h3 {
      color: #000;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      margin: 0 0 10px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .side-form {
    form {
      position: relative;
      input {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ebebeb;
        color: #999;
        height: 40px;
        padding-left: 10px;
        padding-right: 35px;
        width: 100%;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-size: 16px;
      }
      a {
        color: #333;
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
