.content {
  .slider {
    padding: 20px 0;
    .banner {
      padding-bottom: 20px;
      @media (min-width: 992px) {
        & {
          padding-bottom: 0;
        }
      }
    }
    .owl-carousel {
      position: relative;
      .owl-dots {
        display: none;
        position: absolute;
        bottom: 30px;
        left: 50px;
        @media (min-width: 576px) {
          display: block;
        }
        button {
          span {
            display: block;
            width: 13px;
            height: 13px;
            background-color: #869791;
            border-radius: 50%;
            margin-right: 15px;
            opacity: 0.5;
          }
          &:hover {
            span {
              opacity: 1;
            }
          }
          &.active {
            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .banner-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
    .banner-img {
      flex: 1;
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      img {
        transition: 0.5s ease-in;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .new-products {
    .new-products__wrap {
      background-color: #fff;
      padding: 24px;
      padding-bottom: 0;
      .new-products__heading {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        position: relative;
        &::after {
          content: " ";
          position: absolute;
          height: 3px;
          width: 150px;
          bottom: 0;
          left: 0;
          background-color: $primaryColor;
        }
      }
      .new-products__list {
        margin-top: 2px;
        .new-products__item {
          position: relative;
          .new-products__sale {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            background: $primaryColor;
            border-radius: 50%;
            line-height: 35px;
            text-align: center;
            color: #fff;
            font-size: 1.4rem;
          }
          &::after {
            content: " ";
            position: absolute;
            width: 1px;
            background: #ededed;
            height: 90%;
            right: 0;
            top: 20px;
          }
          &:hover {
            box-shadow: 0 0 8px rgb(1 1 1 / 30%);
            .new-products__info {
              .product__price {
                visibility: hidden;
                opacity: 0;
              }
            }
            .new-products__action {
              li {
                transform: translateY(0);
                &:nth-child(1) {
                  transition-duration: 0.3s;
                }
                &:nth-child(2) {
                  transition-duration: 0.5s;
                }
                &:nth-child(3) {
                  transition-duration: 0.8s;
                }
              }
            }
          }
          padding: 8px;
          .new-products__img {
            width: 100%;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .new-products__info {
            padding-bottom: 20px;
            .product__name {
              color: $textColor;
              font-size: 1.6rem;
              margin: 16px 0 10px 0;
              display: block;
              &:hover {
                color: $primaryColor;
              }
            }
            .product__price {
              font-size: 1.6rem;
              color: $textColor;
              opacity: 1;
              transition: 0.3s;
              span.price {
                color: #e24e57;
                font-weight: 500px;
              }
              span.price__old {
                text-decoration: line-through;
              }
            }
          }
          .new-products__action {
            display: flex;
            position: absolute;
            bottom: 20px;
            li {
              transform: translateY(60px);
              a {
                font-size: 1.8rem;
                display: block;
                width: 36px;
                height: 36px;
                border: 1px solid $textColor;
                border-radius: 4px;
                line-height: 36px;
                text-align: center;
                color: $textColor;
                margin-right: 8px;
                transition: 0.2s ease-in;
                &:hover {
                  background-color: $primaryColor;
                  color: #fff;
                  border-color: $primaryColor;
                }
              }
            }
          }
        }
      }
    }
  }
  .banner-area {
    padding: 40px 0;
    .banner-img {
      width: 100%;
      overflow: hidden;
      &:hover {
        img {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease-in;
      }
    }
  }
  .category-list {
    .category {
      padding-bottom: 40px;
      &:nth-child(2) {
        .category__wrap {
          .category-menu {
            h2 {
              background-color: #95e1d3;
            }
          }
        }
      }
      &:nth-child(3) {
        .category__wrap {
          .category-menu {
            h2 {
              background-color: #ffc468;
            }
          }
        }
      }
      &__wrap {
        background-color: #fff;
        .category-menu {
          h2 {
            padding: 20px 0 20px 25px;
            background-color: #e23e57;
            font-size: 2rem;
            color: #fff;
            font-weight: bold;
          }
          ul {
            margin-top: 20px;
            li {
              a {
                display: block;
                padding-left: 23px;
                padding-bottom: 20px;
                font-size: 1.3rem;
                color: $textColor;
                &:hover {
                  color: $primaryColor;
                }
              }
            }
          }
        }
        .category-banner {
          margin-bottom: 20px;
          @media (min-width: 992px) {
            margin-bottom: 0;
          }
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .category-product-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          border-bottom: 1px solid #ccc;
          text-align: center;
          @media (min-width: 767px) {
            & {
              flex-direction: row;
            }
          }
          .category-product__info {
            width: 40%;
            // padding-left: 4rem;
            .product__name {
              a {
                font-size: 16px;
                font-weight: 700;
                color: $textColor;
                text-transform: capitalize;
                transition: 0.3s;
                &:hover {
                  color: $primaryColor;
                }
              }
            }
            .product__price {
              font-size: 2.1rem;
              color: $textColor;
              margin: 2rem 0;
              .price {
                color: #e23e57;
              }
              .price__old {
                font-size: 1.7rem;
                text-decoration: line-through;
              }
            }
            button {
              background: #333;
              color: #fff;
              border: none;
              padding: 14px 20px;
              font-size: 1.6rem;
              text-transform: uppercase;
              transition: 0.3s;
              &:hover {
                background-color: $primaryColor;
              }
            }
          }
          .category-product__img {
            width: 60%;
            img {
              width: auto;
              display: inline-block;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
